<!DOCTYPE html>
<html lang="en" html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>通讯页面</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</head>
<body>
<div style="text-align: center">
    <h1>欢迎来到通讯页面</h1>
    <p>当前在线人数：<b>7</b>人</p>
    请输入聊天内容：
    <div><input id="msg" type="text"> <input type="button" onclick="sendMsg()" value="发送"></div>

    <p>频道广播</p>
    <div id="msgbody">

    </div>



</div>
</div>


</body>

<script th:inline="javascript">
    function sendMsg(){
        var msg=$("#msg").val();
        $.post("ajaxSendMsg",{'name':[[${username}]],'msg':'：'+msg},function(resultData,status){
            if(status==200){
                console.log("返回的结果是："+resultData);
            }else{
                console.log("ajax出错");
            }
        },"json");
    }


    var socket;
    if (typeof (WebSocket) == "undefined") {
        console.log("您的浏览器不支持WebSocket");
    } else {
        console.log("您的浏览器支持WebSocket");
        //实现化WebSocket对象，指定要连接的服务器地址与端口  建立连接
        //等同于socket = new WebSocket("ws://localhost:8083/checkcentersys/websocket/20");
        socket = new WebSocket([[${#httpServletRequest.getScheme() + '://' + #httpServletRequest.getServerName() + ':' + #request.getServerPort()  + #request.getContextPath() + '/websocket/'+username }]].replace("http", "ws"));
        //打开事件
        socket.onopen = function () {
            console.log("Socket 已打开");
            //socket.send("这是来自客户端的消息" + location.href + new Date());


        };
        //获得消息事件
        socket.onmessage = function (msg) {
            console.log(msg.data);
            //发现消息进入    开始处理前端触发逻辑
            $("#msgbody").append("<p><b>"+msg.data+"</b></p>");


        };
        //关闭事件
        socket.onclose = function () {
            console.log("Socket已关闭");
        };
        //发生了错误事件
        socket.onerror = function () {
            alert("Socket发生了错误");
            //此时可以尝试刷新页面
        }
        //离开页面时，关闭socket
        //jquery1.8中已经被废弃，3.0中已经移除
        // $(window).unload(function(){
        //     socket.close();
        //});
    }
</script>
</html>